/* Master Style Sheet for webpage */
a
{
//text-decoration:none;
color: white;
}
.container 
{

width:900px;
height:900px;
background: url(http://i.imgur.com/biMDjPT.png) repeat; 
padding:10px; 
border:50px solid grey;
margin:10px;
}
th
{
margin: auto;
position: top-middle;
border: 7px solid white;
padding: 10px;
background-color: grey;
}	

.fancy
{
color: red;
}